BillionBank/BillionBank/Connected Services/BilliService/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AccInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dropdwn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AccInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AccInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="add1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="add2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CustomerInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prefferedName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="add1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="add2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="add3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psswd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SignInResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Transactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="amount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reff" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="repRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dropdownFrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dropdownTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TransactionsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dropdwn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="amt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="reff" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="repRef" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AccInfoSoapIn">
    <wsdl:part name="parameters" element="tns:AccInfo" />
  </wsdl:message>
  <wsdl:message name="AccInfoSoapOut">
    <wsdl:part name="parameters" element="tns:AccInfoResponse" />
  </wsdl:message>
  <wsdl:message name="CustomerInfoSoapIn">
    <wsdl:part name="parameters" element="tns:CustomerInfo" />
  </wsdl:message>
  <wsdl:message name="CustomerInfoSoapOut">
    <wsdl:part name="parameters" element="tns:CustomerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SignInSoapIn">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="SignInSoapOut">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="TransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:Transactions" />
  </wsdl:message>
  <wsdl:message name="TransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:TransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="PaySoapIn">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="PaySoapOut">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="AccInfo">
      <wsdl:input message="tns:AccInfoSoapIn" />
      <wsdl:output message="tns:AccInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CustomerInfo">
      <wsdl:input message="tns:CustomerInfoSoapIn" />
      <wsdl:output message="tns:CustomerInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input message="tns:SignInSoapIn" />
      <wsdl:output message="tns:SignInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Transactions">
      <wsdl:input message="tns:TransactionsSoapIn" />
      <wsdl:output message="tns:TransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input message="tns:PaySoapIn" />
      <wsdl:output message="tns:PaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccInfo">
      <soap:operation soapAction="http://tempuri.org/AccInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerInfo">
      <soap:operation soapAction="http://tempuri.org/CustomerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap:operation soapAction="http://tempuri.org/SignIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transactions">
      <soap:operation soapAction="http://tempuri.org/Transactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccInfo">
      <soap12:operation soapAction="http://tempuri.org/AccInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CustomerInfo">
      <soap12:operation soapAction="http://tempuri.org/CustomerInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transactions">
      <soap12:operation soapAction="http://tempuri.org/Transactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap12:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44330/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44330/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>